<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model2 -->
      <package
            uri="http://www.NULL.com/model"
            class="com.abdulaziz.ms.OCV.OCVPackage"
            genModel="model/model2.genmodel"/>
   </extension>

</plugin>
